{% extends 'base.html' %}

{% block content %}
<h1>Item Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        {% if item.image %}
        <img src="/media/{{item.image}}" height="100" width="100" class="materialboxed">
        {% endif %}
        <p>Item Table: {{ item.table }}</p>
        <p>Item Name: {{ item.item_name }}</p>
        <p>Item Description: {{ item.item_description }}</p>
        <p>Item Categories: {{ item.category }}</p>
      </div>
      <form action="cart" method="POST">
        {% csrf_token %}
        <p class="col s3"> <i class="material-icons">shopping_cart</i>
        </p> 
        <input type="submit" class="btn light blue" value="Add to Cart"></input>
      </form>
      {% if is_user %}
      <div class="card-action">
        <a href="{% url 'items_update' item.id %}" class="waves-effect waves-light btn-small">Edit</a>
        <a href="{% url 'items_delete' item.id %}" class="waves-effect waves-light btn-small">Delete</a>
      </div>
      {% endif %}
    </div>
    </div>
  </div>
</div>

{% endblock %}