{% extends 'base.html' %}

{% block content %}
<h1>Edit Your Table Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      {% for table in tables %}
      <div class="card-content">
        <p>Table User: {{ table.user }}</p>
    <!-- <p>Table ID: {{ table.id }}</p> -->
    <p>Table Name: {{ table.table_name }}</p>
    <p>Table Description: {{ table.table_description }}</p>
    <p>Table Categories: {{ table.table_category }}</p>
  {% endfor %}
      </div>
    </div>
  </div>
</div>
<img class="circle responsive-img"src="/media/{{ table.image }}" class="materialboxed" width="250" height="250">

{% if table %}
<a href="{% url 'tables_detail' table.id %}">
  <div class="card" >
    <div class="card-content">
      <p class="card-title">Table: {{ table.table_name }}</p>
    </div>
    <div class="card-action">
      <a href="{% url 'tables_update' table.id %}">Edit</a>
      <a href="{% url 'tables_delete' table.id %}">Delete</a>
    </div>
  </div>
</a>
{% else %}
  <a href="{% url 'tables_create' %}" class="btn">Create a new table!</a>
{% endif %}

{% endblock %}