{% extends 'base.html' %}

{% block content %}
<h1>Search Results</h1>

{% if results %}
{% for result in results %}

<div class="row">
  <div class="col s6 m3">
    <a href="/items/{{result.id}}">
      <div class="card square">
        <div class="card-image">
          <img src="static/images/misc.jpg">
          <div class="card-content center-align">
              <p>{{result.item_name}}</p>
              <p>${{result.item_price}}</p>
              <p>{{result.item_description}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
  {% endif %}
</div>

{% endblock %}